// COLORS
:root {
  --color-primary-black: #141414;
  --color-primary-dark: #242424;
  --color-primary-green: #17c871;

  --color-white: #fff;
  --color-gray: #a3a3a3;
  --color-gray-1: #a1a1a1;
  --color-gray-back: #6d6d6d70;
}
