.copy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  color: #fff;
  background-color: transparent;
  border-radius: 0.6rem;
  border: 1px solid #363636;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: -0.2px;
  padding: 0.4rem 0.8rem;
  height: 2.1rem;
  transition: all 0.3s;

  @media (max-width: 768px) {
    width: 100%;
  }

  &:hover {
    background-color: #3a3a3a;
  }
  &:hover svg {
    color: #fff;
  }

  & svg {
    width: 1rem;
    height: 1rem;
    color: #363636;
  }
}
